.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml

.git
.gitignore

.idea
.github

node_modules
.env
.env.example
dist
build
**/bin
**/obj
/tests
/performance-server/src
/performance-server/tests
/performance-server/OsuPerformanceServer.sln
/performance-server/Dockerfile
/dump_*.sql.gz
/README.md

src/version.ts

beatmap_cache
local_bot_api_data
osubot_data
osubot_postgres
grafana-storage
